<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Analytics Value Predictor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href='@Url.Action("index","home")'>Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("index","specify")">Specify</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("index","specify")#step-5">Results</a>
                        </li>
                        @*<li class="nav-item active">
                            <a class="nav-link" href="#">Sensitivty</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-content">
        @RenderBody()
        <footer class="bg-dark " style="padding:20px 10px 10px 10px;">
            <div class="container">
                <div class="row text-left">
                    <div class="col-md-3" >
                        <div class="row py-2">
                            <div class="col-sm-5 col-lg-3 hidden-md-down">
                                <a class="bg-circle bg-info" style="cursor:pointer;" href="http://www.cabotpartners.com/" target="_blank">
                                    <i class="fa fa-2x fa-fw fa-info" aria-hidden="true "></i>
                                </a>
                            </div>
                            <div class="col-sm-7 col-lg-9">
                                <h4><a style="cursor:pointer;" href="http://www.cabotpartners.com/" target="_blank">Info</a></h4>
                                <p>About us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="row py-2">
                            <div class="col-sm-5 col-lg-3 hidden-md-down">
                                <a class="bg-circle bg-info" style="cursor:pointer;" href="http://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen?lnk=flg" target="_blank">
                                    <i class="fa fa-2x fa-fw fa-eye" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-sm-7 col-lg-9">
                                <h4><a style="cursor:pointer;" href="http://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen?lnk=flg" target="_blank">Privacy</a></h4>
                                <p>Are we?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" >
                        <div class="row py-2">
                            <div class="col-sm-5 col-lg-3 hidden-md-down">
                                <a class="bg-circle bg-info" style="cursor:pointer;" href="http://www.ibm.com/legal/us/en/?lnk=flg-tous-usen?lnk=flg" target="_blank">
                                    <i class="fa fa-2x fa-fw fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-sm-7 col-lg-9">
                                <h4><a style="cursor:pointer;" href="http://www.ibm.com/legal/us/en/?lnk=flg-tous-usen?lnk=flg" target="_blank">Terms & Condition</a></h4>
                                <p>Should we?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row py-2">
                            <div class="col-sm-5 col-lg-3 hidden-md-down">
                                <a class="bg-circle bg-info" style="cursor:pointer;" href="mailto:info@cabotpartner.com" target="_blank">
                                    <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-sm-7 col-lg-9">
                                <h4><a style="cursor:pointer;" href="mailto:info@cabotpartner.com" target="_blank">Contact us</a></h4>
                                <p>Why not?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center"></div>
                <p>&copy; @DateTime.Now.Year - Cabot Partners Group. Inc.</p>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
